body{
    width: 100%;
    max-width: 640px;
    min-width: 320px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 1.5;
  
}
/*点击高亮我们需要清除清除  设置为transparent 完成透明*/
* {
    -webkit-tap-highlight-color: transparent;
}
/*在移动端浏览器默认的外观在iOS上加上这个属性才能给按钮和输入框自定义样式*/
input {
    -webkit-appearance: none;
}
/*禁用长按页面时的弹出菜单*/

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    color: #666;
    text-decoration: none;

}
img{
    vertical-align: top;
}
.app{
    height: 45px;
    background-color: #333333; 
}

.app ul li{
    float: left;
    height: 45px;
    line-height: 45px;
    text-align: center;
    color: #fff;
}
.app ul li:nth-child(1){
    width: 8%;
}
.app ul li:nth-child(1) img{
    width: 10px;
    vertical-align: middle;
}
.app ul li:nth-child(2){
    width: 10%;
}
.app ul li:nth-child(2) img{
    width: 30px;
    vertical-align: middle;
}
.app ul li:nth-child(3){
    width: 57%;
}
.app ul li:nth-child(4){
    width: 25%;
    background-color: #F63515;
}
.search-wrap{
    overflow: hidden;/*非常重要!!因.search使用margin會撐開父親*/
    position: fixed;
    width: 100%;
    max-width: 640px;
    min-width: 320px;
    height: 44px;
}
.search-btn{
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 44px;
   

}
.search-btn::before{
    display: block;
    content: "";
    background: url(../images/s-btn.png) no-repeat;
    width: 20px;
    height: 18px;
    background-size: 20px 18px;
    margin: 11px 0 0 14px;


}
.search-login{
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 44px;
    line-height: 44px;
    color: #fff;

}
.search{
    position: relative;
    height: 30px;
    margin: 0 50px;
    border-radius: 15px;
    background-color: #fff;
    margin-top: 7px;
}
.jd-icon{
    position: absolute;
    top: 7px;
    left: 12px;
    width: 20px;
    height: 15px;
    background: url(../images/jd.png) no-repeat;
    background-size: 20px 15px;

}
.jd-icon::after{
    position: absolute;
    top: 0;
    right: -6px;
    display: block;
    content: "";
    width: 1px;
    height: 15px;
    background-color: #ccc;
}
.sou{
    position: absolute;
    top: 7px;
    left: 43px;
    width: 18px;
    height: 17px;
    background:url(../images/jd-sprites.png)no-repeat -82px 0px;
    background-size: 200px auto;
}
.slider img{
    width: 100%;
    max-width: 640px;
    min-width: 320px;
}
.brand{
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}
.brand div{
    width: 33.33%;
    float: left;
}
.brand  img{
    width: 100%;


}
nav{
    padding-top: 5px;
}
nav a{
    float: left;
    width: 20%;
    text-align: center;
    margin-top: 10px;

}
nav a img{
    width: 40px;
    margin: 5px 0;

}
nav a span{
    display: block;

}

nav::after{
  content: "";
  display: block;
  clear: both;
}
.news{
    margin-top: 20px;
}

.news img {
    width: 100%;
}

.news a {
    float: left;
    box-sizing: border-box;
}

.news a:nth-child(1) {
    width: 50%;
}
.news a:nth-child(n+2) {
    width: 25%;
    border-left: 1px solid #CCCCCC;

}